.buyNowBtn {
    background-color: #218838;
    border: none;
    outline: none;
    padding: 10px 15px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
}

.card-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card-footer p {
    margin: 0;
    color: #218838;
    font-size: 18px;
    font-weight: 500;
}