*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wraper{
    display: flex;
    position: relative;
}
.wraper .sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #203D37;
    padding: 30px 0;
}
.wraper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
.wraper .sidebar h2 a{
    text-decoration: none;
    color: #fff;
}
.wraper .sidebar ul{
    text-align: left;
}
.wraper .sidebar ul li{
    list-style-type: none;
    padding: 15px;
    color: #fff;
    display: block;
    font-weight: 600;
}
.wraper .sidebar ul li:hover{
    background-color: darkcyan;
}
.adminContent{
    margin-left: 252px;
    padding: 100px;
    width: 800px;
}